<?xml version="1.0"?>
<config>
    <modules>
        <StuntCoders_AdWordsConversion>
            <version>0.1.0</version>
        </StuntCoders_AdWordsConversion>
    </modules>
    <global>
        <models>
            <stuntcoders_adwordsconversion>
                <class>StuntCoders_AdWordsConversion_Model</class>
                <resourceModel>stuntcoders_adwordsconversion_resource</resourceModel>
            </stuntcoders_adwordsconversion>
            <stuntcoders_adwordsconversion_resource>
                <class>StuntCoders_AdWordsConversion_Model_Resource</class>
            </stuntcoders_adwordsconversion_resource>
        </models>
        <blocks>
            <stuntcoders_adwordsconversion>
                <class>StuntCoders_AdWordsConversion_Block</class>
            </stuntcoders_adwordsconversion>
        </blocks>
        <helpers>
            <stuntcoders_adwordsconversion>
                <class>StuntCoders_AdWordsConversion_Helper</class>
            </stuntcoders_adwordsconversion>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <stuntcoders_adwordsconversion>
                    <file>stuntcoders/adwords_conversion.xml</file>
                </stuntcoders_adwordsconversion>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <stuntcoders_adwordsconversion>
                        <class>stuntcoders_adwordsconversion/observer</class>
                        <method>orderSuccessPageView</method>
                    </stuntcoders_adwordsconversion>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <default>
        <stuntcoders_adwordsconversion>
            <general>
                <enabled>0</enabled>
                <color>ffffff</color>
                <language>en</language>
            </general>
        </stuntcoders_adwordsconversion>
    </default>
</config>
